@import '~styles/theme.scss';

.mat-icon:hover {
	cursor: pointer;
	color: $accent;
}

.loading {
	height: 1.5rem;
	width: 1.5rem;
	display: block;

	font-size: 10px;
	text-indent: -9999em;
	border-radius: 50%;
	background: #ffffff;
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	animation: load3 1.4s infinite linear;
	transform: translateZ(0);

	&:before {
		content: '';
		width: 50%;
		height: 50%;
		background: #ffffff;
		border-radius: 100% 0 0 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after {
		content: '';
		background: $primary;
		width: 75%;
		height: 75%;
		border-radius: 50%;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	  }
  }
  @-webkit-keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  